html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  color: white;
  padding: 0 100px;
  height: 68px;
  width: 100vw;
  border-bottom: 3px solid rgba(0, 0, 0, 0.09);
}

.navbar-left {
  display: flex;
  align-items: center;
  flex: 2;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  flex: 10;
}

.navbar-logo {
  height: 40px;
  margin-right: 6px;
  rotate: -2deg;
}

.navbar-logo-text {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 0px #000;
  padding-bottom: 6px;
}

.navbar-logo-text-quest {
  color: #fa942e;
}

.navbar-crafting-icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.navbar-blizz-icon {
  margin-right: 8px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-items li {
  margin: 0;
  padding: 0;
}

.nav-items a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 40px;  /* Same as navbar height */
  transition: background-color 0.3s ease;
  border-radius: 6px;
  margin-right: 6px;
}

.nav-items a:hover {
  background-color: rgba(180, 180, 180, 0.2);
  border-radius: 6px;
}

* {
  box-sizing: border-box;
}
